projectevents/vendor/
projectevents/node_modules/
projectevents/npm-debug.log
projectevents/yarn-error.log

# Laravel 4 specific
projectevents/bootstrap/compiled.php
projectevents/app/storage/

# Laravel 5 & Lumen specific
projectevents/public/storage
projectevents/public/hot

# Laravel 5 & Lumen specific with changed public path
projectevents/public_html/storage
projectevents/public_html/hot

projectevents/storage/*.key
projectevents/.env
projectevents/Homestead.yaml
projectevents/Homestead.json
projectevents/.vagrant
projectevents/.phpunit.result.cache
